[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory;
Actions=uploadToCloud;getCloudLink;
X-KDE-Priority=TopLevel
Icon=folder-cloud

[Desktop Action uploadToCloud]
Name=Upload to Cloud
Icon=cloud-upload
Exec=dbus-send --session --print-reply --dest=ru.hackathon.CloudService /ru/hackathon/CloudService ru.hackathon.CloudService.HandleAction string:"upload" string:"%u"

[Desktop Action getCloudLink]
Name=Get Public URL
Icon=internet-services
Exec=dbus-send --session --print-reply --dest=ru.hackathon.CloudService /ru/hackathon/CloudService ru.hackathon.CloudService.HandleAction string:"get_url" string:"%u"